/** Colors */
$primary:               linear-gradient(left, #ffa500 0%,#ffff00 20%,#008000 40%,#00ffff 60%,#0000ff 80%,#ee82ee 100%);
$link:                  $primary;

/** Box Model  */
$spacer:                2rem;
